doctype=html
html(language=en)
block script
link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css', integrity='sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm', crossorigin='anonymous')
block content
	body.container.bg-dark
		div.text-center
			h1.text-white Teste 
			p.text-white #{err}


