<!doctype html>
<html lang="en">
  <head>
    <title>FeatureExpress - Book</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
     <% var bddLanguage = language;%>;
    <script type="text/javascript">
      var gherkinLanguage = <%- JSON.stringify(bddLanguage)  %>;
    </script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="js/script.js"></script>

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
    <link rel="manifest" href="images/site.webmanifest">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="theme-color" content="#ffffff">

  </head>
  <body>

    <section class="container-fluid">

      <!-- List group -->
      <div class="row">

        <div class="col-lg-3 d-lg-block sidebar cs-nav">

          <div class="sidebar-sticky">
            <header class="cs-header">
              <figure class="cs-header__brand"><img src="images/logo.svg" alt="" class="img-responsive"></figure>
            </header>

            <div class="list-group" id="myList" role="tablist">
            <% Object.keys(contentFeature).forEach(function(prop) { %>
              <a class="list-group-item list-group-item-action" data-toggle="list" href="#<%=prop%>" role="tab"><%=prop%></a>
            <% }); %>
            </div>
          </div>
        </div>

        <main class="col-lg-9 ml-sm-auto cs-content">
          <div class="tab-content">
         <% Object.keys(contentFeature).forEach(function(prop) { %>
          <div class="tab-pane jumbotron font-weight-light cs-pane" id=<%=prop%> role="tabpanel">
             <% for(let i = 0; i < contentFeature[prop].length; i++) { %>
              <ul>
               <li><%=contentFeature[prop][i]%></li>
              </ul>
             <% } %>
            </div>
         <% }); %>
          </div>
        </main>


      </div>

    </section>

    <footer class="cs-footer">
      Developed with ❤ by <a target="_blank" href="https://github.com/menezes-ssz">Leonardo Menezes</a>
      <br>
      <span>Design by <a href="http://kalyneramon.com.br/" target="_blank">Kalyne Ramon</a></span>
    </footer>
  </body>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</html>
