<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script>
    $('#myList a').on('click', function (e) {
        e.preventDefault()
        $(this).tab('show')
      })

      
      </script>
      <style>
      .list-group-item.active {
    color: #fff;
    background-color: #343a40;
    border-color: #fff;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  padding-left: 1em; 
  text-indent: -.7em;
}

li::before {
  content: "• ";
  color: #e9ecef; /* or whatever color you prefer */
}
      </style>

    <title>Hello, world!</title>
  </head>
  <body class="container bg-dark">
              
      <!-- List group -->
      <div class="row">

      <div class="col-4">     
<div class="list-group" id="myList" role="tablist">
    <% Object.keys(contentFeature).forEach(function(prop) { %>
      <a class="list-group-item list-group-item-action font-weight-light text-capitalize" data-toggle="list" href="#<%=prop%>" role="tab"><%=prop%></a>
      <% }); %>
  </div>
  </div>
  
  <div class="tab-content">
 <% Object.keys(contentFeature).forEach(function(prop) { %>
  <div class="tab-pane jumbotron font-weight-light" id=<%=prop%> role="tabpanel">
     <% for(let i = 0; i < contentFeature[prop].length; i++) { %>
      <ul>
     <li><%=contentFeature[prop][i]%></li>
    </ul>
     <% } %>
    </div>
 <% }); %> 
  </div>
  </div>

  

</body>   
  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </html>